/target
/lib
/classes
/checkouts
/tmp
.#*
pom.xml
dev-config.edn
*.jar
*.class
/.lein-*
profiles.clj
/.env
.nrepl-port
/.shadow-cljs
shadow-cljs.edn
/node_modules
/log
/.idea
projectFilesBackup/
/.vscode
/.clj-kondo
/.lsp
scimmer.iml
test/clj/scimmer/log/scimmer.log
scimmer.iml
